bible_offline
nodejs_output
chinese.csv
chinese_compact_corrected.csv
compact_chinese.mjs
Data(hira) - archive.csv
gokusearch.html
gokusearch.css
gokusearch.js
index.py
replace.py
search.html
search.css
search.js
icons
.DS_Store