* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::-webkit-scrollbar {
    display: none;
}
body {
    background-color: rgb(33,34,39);
    color: #fff;
    font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}
input[type="text"] {
    outline: none;
    transition: 0.3s;
}
input[type="text"]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
    border-radius: 0.6em;
}

/* 通訳モード */
    #transmode {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    #transmode_head {
        width: 100%;
        height: 5%;
        position: fixed;
        background-color: rgb(0,0,0);
    }
    #transmode_head input{
        height: 100%;
    }
    #abbre {
        height: 1.5em;
        text-align: center;
    }
    #syou {
        height: 1.5em;
        text-align: center;
    }
    #result {
        padding-top: 5%;
        height: 95%;
    }

/* 書簡リストのスタイル */
    #abbre:focus + #list{
        display: block;
    }
    #list {
        width: 100vw;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 2.5em;
        display: none;
        background-color: black;
    }
    #list div {
        display: flex;
        flex-wrap: wrap;
        border: blueviolet .1px solid;
        padding: 6px 0;
    }
    #list div p {
        border: yellow .1px solid;
        width: 20%;
        font-size: 1.44em;
        padding-left: .7em;
    }

/* 出力した内容のスタイル */
    .wrapper {
        margin: .5em 1em 1em;
    }
    .ch {
        color: white;
        border-bottom: solid 2px white;
    }
    .jp {
        color: white;
        margin-bottom: 5px;
    }

/* 検索モーダルのスタイル */
    #search_modal {
        display: none;
        position: fixed;
        top: 0px;
        width: 100vw;
        height: 100vh;
        background-color: rgb(20,0,0);
    }

    #search_modal_head {
        height: 5%;
    }
    #search_modal input[type="text"] {
        height: 100%;
        background-color: yellow;
        box-shadow: 0 4px 9px #0006 inset, 0 0 30px #add8e6;
        text-align: center;
    }

    #search_result {
        height: 95%;
        overflow: scroll;
    }

@media (max-width: 635px) {
    #list div p {
        font-size: 1.2em;
    }
}
@media (max-width: 520px) {
    #list div p {
        font-size: 1em;
    }
}