* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::-webkit-scrollbar {
    display: none;
}
body {
    background-color: rgb(33,34,39);
}
main {
    padding-top: 48px;
    min-height: 90vh;
}

header {
    position: fixed;
    display: flex;
    width: 100%;
    height: 48px;
    background-color: rgba(23,24,29,.5);
    place-items: center;
    justify-content: center;
    flex-direction: row;
}
header p { color: white; }
#Abbre, #Syou { display: inline-block;}
.sidebar {
    position: fixed;
    display: flex;
    top: 47px;
    height: 90vh;
    transition: .5s;
}
.sidebar button {
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    animation: left-to-right 1s;
    animation-fill-mode: both;
    transition: .35s ease-in-out;
    border: solid 1px white;
}
.letter, .chapter, .section {
    position: absolute;
    width: 20vw;
    height: 100%;
    transition: .5s;
    overflow: scroll;
}
.letter {
    left: 0px;
}
.chapter {
    left: 20vw;
}
.section {
    left: 40vw;
}

#output {
    width: 100%;
    height: 100%;
    padding: 1em;
}
#output:empty {
    display: none;
}
#wrapper {
    margin: 1em;
}
.ch {
    color: white;
    border-bottom: solid 2px white;
}
.jp {
    color: white;
    margin-bottom: 5px;
}
#output>#wrapper:last-child>.ch {
    border: none;
}

#check_ruby {
    display: none;
}
#check_ruby_label{
    position: fixed;
    background-color: blue;
    color: white;
    top: 15px;
    right: 55px;
    transition: .5s;
    border: solid 1px white;
    border-radius: 100%;
}
#check_ruby_label::before {
    content: "ON";
}
#check_ruby:checked ~ #check_ruby_label::before {
    content: "OFF";
}

/* 文字サイズ変更用縦スライダー */
#change_font-size {
    position: fixed;
    top: 130px;
    right: -40px;
    transform: rotate(-0.25turn);
    -webkit-appearance: none;
    appearance: none;
    background-color: aqua;
    border-radius: 10px;
}

#check_ruby_label:hover, #plus>button:hover, #minus>button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
.closed2 {
    opacity: 0;
    pointer-events: none;
    transform: translateX(40px);
}

.modal {
    display: grid;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    place-items: center;
    background-color: rgba(0,0,0,.8);
    z-index: 100;
}
#keyword {
    width: 80vw;
    height: 3rem;
    font-size: 2rem;
    text-align: center;
}
#searchbox {
    position: fixed;
    top: 10px;
    right: 100px;
    width: 3rem;
    height: 2rem;
    background-color: rgb(88, 243, 225);
    outline: none;
    transition: .5s;
}
#searchbox>label {
    text-align: center;
    font-size: 1rem;
}
.undisplay {
    display: none;
}

/* footer */
footer{
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: white;
}
footer details {
    border: 1px solid #ccc;
    text-align: center;
}
footer details summary {
    text-align: left;
}
footer details table{
    width: 100%;
}
footer details table td.date{
    vertical-align: top;
}
footer details iframe {
    width: 100%;
    height: 90vh;
}

@keyframes left-to-right {
    0% {
        transform: scale(.8);
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 600px) {
    .letter, .chapter, .section {
        width: 33.3vw;
    }
    .closed {
        left: -33.3vw !important;
    } 
    .letter {
        left: 0px;
    }
    .chapter {
        left: 33.3vw;
    }
    .section {
        left: 66.6vw;
    }
}

@media screen and (max-width: 1366px) and (max-height:1024px) {
    .sidebar button {
        height: 6rem;
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 1024px) and (max-height:1366px) {
    .sidebar button {
        height: 6rem;
        font-size: 1.3rem;
    }
}
